<!DOCTYPE html>
<html lang="en">
<head>
  <title>RFID Protocol Simulator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    div.ex1 {
      width: auto;
      height: 860px;
      overflow: scroll;
    }
      header {
          padding: 10px;
          text-align: center;
          color: royalblue;
          font-size: 30px;
      }
     .equations {
         text-align: left;
         margin: 10px;
     }

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: auto;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 1080px) {
      .sidenav {
        height: auto;
        padding: 20px;
      }
    }

    html, body {
        height: 100%;
    }

    .protocols{
        background-color: whitesmoke;
        font-size: large;
    }

    label{
        margin-top: 20px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">RFID Protocols Simulator</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--<ul class="nav navbar-nav">
        <li class="active"><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>-->
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav w3-bar-block w3-green" style="height: 890px"><br><br>
      <p><a class="w3-bar-item w3-button" href="{% url 'lmap' %}">LMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="{% url 'sasi' %}">SASI</a></p>
      <p><a class="w3-bar-item w3-button" href="#">UMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="#">KMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="#">Permutations</a></p>
      <p><a class="w3-bar-item w3-button" href="#">Recursive Hash</a></p>
    </div>
    <div class="col-sm-5 text-left">
              <form method="POST" action="{% url 'submitsasi' %}">
                  {% csrf_token %}
          <div class="form-group ">
          <br><br>
              <header>SASI</header>
            <label for="exampleInputEmail1">Enter 8 bit Values</label><br><br>

              <label>ID:</label>
            <input type="text" class="form-control" id="sasiId" name="sasiId" placeholder="Enter SASI id value">
           <!-- <small id="id_lmap" class="form-text text-muted">Enter 16 bits value</small>-->

              <label>IDS:</label>
            <input type="text" class="form-control" id="sasiIds" name="sasiIds" placeholder="Enter SASI ids value">

              <label>K1:</label>
            <input type="text" class="form-control" id="sasiK1" name="sasiK1" placeholder="Enter SASI k1 value">

              <label>K2:</label>
            <input type="text" class="form-control" id="sasiK2" name="sasiK2" placeholder="Enter SASI k2 value">

              <label>n1:</label>
            <input type="text" class="form-control" id="sasiN1" name="sasiN1" placeholder="Enter SASI n1 value">

              <label>n2:</label>
            <input type="text" class="form-control" id="sasiN2" name="sasiN2" placeholder="Enter SASI n2 value">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

        <div class="col-sm-5 sidenav">
            <div class="result ex1">
                <br><label>Results: </label><br><br><br>
                  <div class="w3-panel w3-leftbar w3-border-orange w3-text-orange">
                      <h4><strong>Tag Identification Phase</strong></h4><br>
                        <ol>
                            <li>READER will broadcast "hello" message to TAG</li>
                            <li>TAG will respond with current IDS to READER</li>
                            <li>READER will find a match in the backend SERVER</li>
                                <div class="w3-panel w3-pale-green w3-border">
                                  <p>If match is found then we will move to the Mutual Authentication Phase
                                  where READER will send messages <strong>A, B, and C</strong></p>
                                </div>
                                <div class="w3-panel w3-pale-yellow w3-border">
                                  <p>If match is not found, session is dropped and READER will scan again</p>
                                </div>
                        </ol>
                      <h4>READER------------------------->TAG</h4>
                      <strong>A, B, C</strong>
                  </div>

                  <div class="w3-panel w3-leftbar w3-border-green w3-text-green">
                      <h4><strong>Mutual Authentication Phase</strong></h4><br>
                        <ol>
                            <li>READER will send messages <strong>A, B, and C</strong> to TAG</li>
                            <div class="equations">
                                <strong>A = (IDS xor K1) xor N1</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K1_ = {{ K1 }}<br>
                                --------------------- <br>
                                IDS xor K1 = {{ ids_xor_k1 }} <br>
                                N1_ = {{ N1 }}<br>
                                --------------------- <br>
                                A__ = {{ A }}
                            </div><br>
                            <div class="equations">
                                <strong>B = (IDS or K2) and N2</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K2 =  {{ K2 }}<br>
                                --------------------- <br>
                                IDS or K2 = {{ ids_or_k2 }}<br>
                                N2 =  {{ N2 }}<br>
                                --------------------- <br>
                                B__ = {{ B }}
                            </div><br>

                            <li>TAG retrieves <strong>n1 and n2</strong> from messages <strong>A, B, and C </strong>,
                                 while B is used for authentication.</li>
                            <div class="equations">
                                <strong>N1 = (A xor K1) xor IDS</strong><br>
                                A__ =  <br>
                                K1_ =  <br>
                                IDS =  <br>
                                --------------------- <br>
                                N1_ =  {{ N1 }}
                            </div><br>

                            <div class="equations">
                                <strong>N2 = (C xor IDS) xor K3</strong><br>
                                C__ =  <br>
                                IDS_ = <br>
                                K3 =  <br>
                                --------------------- <br>
                                N2_ = {{ N2 }}
                            </div><br>

                             <div class="equations">
                                <strong>K1<sub>(n+1)</sub> = Rot(K1 xor N2, hw(K1))</strong><br>
                                K1 = {{ K1 }}<br>
                                N2 =  {{ K2 }}<br>
                                --------------------- <br>
                                 K1 xor N2 =  {{ k1_xor_n2 }}<br>
                                 Rot({{ k1_xor_n2 }}, hw(K1))<br>
                                --------------------- <br>
                                K1<sub>(n+1)</sub> = {{ K1_new }}
                            </div><br>
                            <div class="equations">
                                <strong>K2<sub>(n+1)</sub> = Rot(K2 xor N1, hw(K2))</strong><br>
                                K2 = {{ K2 }}<br>
                                N1 = {{ N1 }}<br>
                                --------------------- <br>
                                K2 xor N1 = {{ k2_xor_n1 }} <br>
                                Rot({{ k2_xor_n1 }}, hw(K2)) <br>
                                --------------------- <br>
                                K2<sub>(n+1)</sub> = {{ K2_new }}
                            </div><br>
                            <div class="equations">
                                <strong>C = (K1 xor K2<sub>n + 1</sub>) and (K1<sub>n + 1</sub> xor K2)</strong><br>
                                K1 = {{ K1 }} <br>
                                K2 = {{ K2 }} <br>
                                --------------------- <br>
                                K1 xor K2<sub>n + 1</sub> = {{ k1_xor_k2up }}<br>
                                --------------------- <br>
                                C  = {{ C }} <br>
                            </div><br>

                            <li>After TAG has authenticated READER, TAG will send message <strong>D</strong></li>
                                <div class="equations">
                                    <strong>D = (K2<sub>n + 1</sub> & ID) xor ((K1 xor K2) xor K1<sub>n + 1</sub>)</strong><br>
                                    K2<sub>n + 1</sub> = {{ K2_new }}<br>
                                    ID = {{ IDS_old }}<br>
                                    --------------------- <br>
                                    K2<sub>n + 1</sub> & ID = {{ k2up_and_id }} <br>
                                    --------------------- <br>
                                    K1 = {{ K1 }}<br>
                                    K2 = {{ K2 }}<br>
                                    --------------------- <br>
                                    K1 xor K2 = {{ k1_xor_k2 }} xor K1 {{ K1 }}<br>
                                    --------------------- <br>
                                    D = {{ D }}
                                </div><br>

                                <!--<div class="w3-panel w3-pale-green w3-border">
                                  <p>If match is found then we will move to the Mutual Authentication Phase
                                  where READER will send messages <strong>A, B, and C</strong></p>
                                </div>
                                <div class="w3-panel w3-pale-yellow w3-border">
                                  <p>If match is not found, session is dropped and READER will scan again</p>
                                </div>-->
                        </ol>
                      <h4>READER<-------------------------TAG</h4>
                      <strong>D</strong>
                  </div>

                <div class="w3-panel w3-leftbar w3-border-blue w3-text-blue">
                      <h4><strong>IDS and KEY Updating Phase</strong></h4><br>
                        <ol>
                            <li>READER will send messages <strong>A, B, and C</strong> to TAG</li>
                            <div class="equations">
                                <strong>IDS<sub>(n+1)</sub> = (IDS and ID) xor (N2 xor K1<sub>n + 1</sub>)</strong><br>
                                IDS and ID = {{ ids_and_id }}<br>
                                N2 xor K1 =  {{ n2_xor_k1 }}<br>
                                --------------------- <br>
                                IDS<sub>new</sub> = {{ IDS_new }}<br>
                                IDS<sub>old</sub> = {{ IDS_old }}<br>
                            </div><br>
                            <div class="equations">
                                <strong>K1<sub>(n+1)</sub> = K1 xor N2 xor (K3 and ID)</strong><br>
                                K1<sub>old</sub> =  {{ K1 }}<br>
                                K1<sub>new</sub> =  {{ K1_new }}<br>
                                K2<sub>old</sub> =  {{ K2 }}<br>
                                K2<sub>new</sub> =  {{ K2_new }}<br>
                            </div><br>
                        </ol>
                  </div>
            </div>

            </div>

        </div>
</div>
</div>
    <footer class="container-fluid text-center">
      <p>Greatzel Unabia</p>
    </footer>

</body>

<script>

</script>

</html>
