<!DOCTYPE html>
<html lang="en">
<head>
  <title>RFID Protocol Simulator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    div.ex1 {
      width: auto;
      height: 900px;
      overflow: scroll;
    }
      header {
          padding: 10px;
          text-align: center;
          color: royalblue;
          font-size: 30px;
      }
     .equations {
         text-align: left;
         margin: 10px;
     }

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: auto;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 1080px) {
      .sidenav {
        height: auto;
        padding: 20px;
      }
    }

    html, body {
        height: 100%;
    }

    .protocols{
        background-color: whitesmoke;
        font-size: large;
    }

    label{
        margin-top: 20px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RFID Protocols Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav w3-bar-block w3-green" style="height: 890px"><br><br>
      <p><a class="w3-bar-item w3-button" href="lmapview.html">LMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="#">SASI</a></p>
      <p><a class="w3-bar-item w3-button" href="#">UMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="#">KMAP</a></p>
      <p><a class="w3-bar-item w3-button" href="#">Permutations</a></p>
      <p><a class="w3-bar-item w3-button" href="#">Recursive Hash</a></p>
    </div>
    <div class="col-sm-5 text-left">
              <form method="POST" action="{% url 'submit' %}">
                  {% csrf_token %}
          <div class="form-group ">
          <br><br>
              <header>LMAP</header>
            <label for="exampleInputEmail1">Enter 8 bit Values</label><br><br>

              <label>ID:</label>
            <input type="text" class="form-control" id="lmapId" name="lmapId" placeholder="Enter LMAP id value">
           <!-- <small id="id_lmap" class="form-text text-muted">Enter 16 bits value</small>-->

              <label>IDS:</label>
            <input type="text" class="form-control" id="lmapIds" name="lmapIds" placeholder="Enter LMAP id value">

              <label>K1:</label>
            <input type="text" class="form-control" id="lmapK1" name="lmapK1" placeholder="Enter LMAP id value">

              <label>K2:</label>
            <input type="text" class="form-control" id="lmapK2" name="lmapK2" placeholder="Enter LMAP id value">

              <label>K3:</label>
            <input type="text" class="form-control" id="lmapK3" name="lmapK3" placeholder="Enter LMAP id value">

              <label>K4:</label>
            <input type="text" class="form-control" id="lmapK4" name="lmapK4" placeholder="Enter LMAP id value">

              <label>n1:</label>
            <input type="text" class="form-control" id="lmapN1" name="lmapN1" placeholder="Enter LMAP id value">

              <label>n2:</label>
            <input type="text" class="form-control" id="lmapN2" name="lmapN2" placeholder="Enter LMAP id value">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

        <div class="col-sm-5 sidenav">
            <div class="result ex1">
                <br><label>Results: </label><br><br><br>
                  <div class="w3-panel w3-leftbar w3-border-orange w3-text-orange">
                      <h4><strong>Tag Identification Phase</strong></h4><br>
                        <ol>
                            <li>READER will broadcast "hello" message to TAG</li>
                            <li>TAG will respond with current IDS to READER</li>
                            <li>READER will find a match in the backend SERVER</li>
                                <div class="w3-panel w3-pale-green w3-border">
                                  <p>If match is found then we will move to the Mutual Authentication Phase
                                  where READER will send messages <strong>A, B, and C</strong></p>
                                </div>
                                <div class="w3-panel w3-pale-yellow w3-border">
                                  <p>If match is not found, session is dropped and READER will scan again</p>
                                </div>
                        </ol>
                      <h4>READER------------------------->TAG</h4>
                      <strong>A, B, C</strong>
                  </div>

                  <div class="w3-panel w3-leftbar w3-border-green w3-text-green">
                      <h4><strong>Mutual Authentication Phase</strong></h4><br>
                        <ol>
                            <li>READER will send messages <strong>A, B, and C</strong> to TAG</li>
                            <div class="equations">
                                <strong>A = (IDS xor K1) xor N1</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K1_ = {{ K1 }} <br>
                                N1_ = {{ N1 }} <br>
                                --------------------- <br>
                                A__ = {{ A }}
                            </div><br>
                            <div class="equations">
                                <strong>B = (IDS or K2) xor N1</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K2_ = {{ K2 }} <br>
                                N1_ = {{ N1 }} <br>
                                --------------------- <br>
                                B__ = {{ B }}
                            </div><br>
                            <div class="equations">
                                <strong>C = (IDS and K2) and N2</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K2_ = {{ K2 }} <br>
                                N2_ = {{ N2 }} <br>
                                --------------------- <br>
                                C__ = {{ C }}
                            </div><br>
                            <li>TAG retrieves <strong>n1 and n2</strong> from messages <strong>A, B, and C </strong>,
                                 while B is used for authentication.</li>
                            <div class="equations">
                                <strong>N1 = (A xor K1) xor IDS</strong><br>
                                A__ = {{ A }} <br>
                                K1_ = {{ K1 }} <br>
                                IDS = {{ IDS_old }} <br>
                                --------------------- <br>
                                N1_ = {{ N1 }}
                            </div><br>

                            <div class="equations">
                                <strong>N2 = (C xor IDS) xor K3</strong><br>
                                C__ = {{ C }} <br>
                                IDS_ = {{ IDS_old }} <br>
                                K3 = {{ K3 }} <br>
                                --------------------- <br>
                                N2_ = {{ N2 }}
                            </div><br>

                            <div class="equations">
                                <strong>N1 = (IDS or K2) xor B</strong><br>
                                IDS = {{ IDS_old }} <br>
                                K2_ = {{ K1 }} <br>
                                B__ = {{ B }} <br>
                                --------------------- <br>
                                N1_ = {{ N1 }}
                            </div><br>

                            <li>After TAG has authenticated READER, TAG will send message <strong>D</strong></li>
                                <div class="equations">
                                    <strong>D = ((IDS and ID) xor N1) xor N2</strong><br>
                                    IDS = {{ IDS_old }} <br>
                                    ID_ = {{ ID }} <br>
                                    N1_ = {{ N1 }} <br>
                                    N2_ = {{ N2 }} <br>
                                    --------------------- <br>
                                    D__ = {{ D }}
                                </div><br>

                                <!--<div class="w3-panel w3-pale-green w3-border">
                                  <p>If match is found then we will move to the Mutual Authentication Phase
                                  where READER will send messages <strong>A, B, and C</strong></p>
                                </div>
                                <div class="w3-panel w3-pale-yellow w3-border">
                                  <p>If match is not found, session is dropped and READER will scan again</p>
                                </div>-->
                        </ol>
                      <h4>READER<-------------------------TAG</h4>
                      <strong>D</strong>
                  </div>

                <div class="w3-panel w3-leftbar w3-border-blue w3-text-blue">
                      <h4><strong>IDS and KEY Updating Phase</strong></h4><br>
                        <ol>
                            <li>READER will send messages <strong>A, B, and C</strong> to TAG</li>
                            <div class="equations">
                                <strong>IDS<sub>(n+1)</sub> = (IDS and ( N2 xor K4)) xor ID</strong><br>
                                N2_ = {{ N2 }} <br>
                                K4_ = {{ K4 }} <br>
                                IDS<sub>old</sub> = {{ IDS_old }} <br>
                                ID_ = {{ ID }} <br>
                                --------------------- <br>
                                IDS<sub>new</sub> = {{ IDS_new }}
                            </div><br>
                            <div class="equations">
                                <strong>K1<sub>(n+1)</sub> = K1 xor N2 xor (K3 and ID)</strong><br>
                                K3_ = {{ K3 }} <br>
                                ID = {{ ID }} <br>
                                K1_ = {{ K1 }} <br>
                                N2_ = {{ N1 }} <br>
                                --------------------- <br>
                                K1<sub>(n+1)</sub> = {{ K1_new }}
                            </div><br>
                            <div class="equations">
                                <strong>K2<sub>(n+1)</sub> = K2 and N2 xor (K4 and ID)</strong><br>
                                K4 = {{ K4 }} <br>
                                ID_ = {{ ID }} <br>
                                N2_ = {{ N2 }} <br>
                                K2_ = {{ K2 }} <br>
                                --------------------- <br>
                                K2<sub>(n+1)</sub> = {{ K2_new }}
                            </div><br>
                            <div class="equations">
                                <strong>K3<sub>(n+1)</sub> = (K3 xor N1) and (K1 xor ID)</strong><br>
                                K3_ = {{ K3 }}
                                N1_ = {{ N1 }} <br>
                                K1_ = {{ K1 }} <br>
                                ID_ = {{ ID }} <br>
                                --------------------- <br>
                                K3<sub>(n+1)</sub> = {{ K3_new }}
                            </div><br>

                            <div class="equations">
                                <strong>K4<sub>(n+1)</sub> = (K4 xor N1) xor (K3 xor ID)</strong><br>
                                K4_ = {{ K4 }}
                                N1_ = {{ N1 }} <br>
                                K3_ = {{ K3 }} <br>
                                ID_ = {{ ID }} <br>
                                --------------------- <br>
                                K4<sub>(n+1)</sub> = {{ K4_new }}
                            </div><br>
                        </ol>
                  </div>
            </div>

            </div>

        </div>
</div>
</div>
    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>

</body>

<script>

</script>

</html>
